.App {
  text-align: center;
  height: 100%;
}

#root,
#main {
  min-height: 100vh;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
#root1 {
  background-image: url("./components/pictures/49156603556_915b3ef4cf_k.jpg");
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  min-height: 100vh;
}
#root2 {
  background: linear-gradient(to right, #ffffff 0%, #99ff99 200%);
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  min-height: 100vh;
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
}
#what {
  min-height: 80vh;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
